# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
build.xml
nbproject/



# Project files, i.e. `.project`, 
# should NOT be excluded as they contain compiler settings and other important
# information for NetBeans

*.gif
*.tiff
*.DS_Store
