@media screen
{
    .entry
    {
        clear: right;
        width: 945px;
        min-height: 150px;
        height: auto !important;
        padding: 10px 0 10px 10px;
        line-height: 1.5em;
        background: #040404;
    }

    .entry3
    {
        float: right;
        width: 960px;
        height: 170px;
        height: auto !important;
        min-height: 170px;
        font-size: 110%;
        margin: 0 auto;
        padding: 0;
        line-height: 1.5em;
        overflow: hidden;
        background: #040404 url("../images/bodybg.jpg") top left no-repeat;
    }

    .entry4
    {
        float: right;
        width: 960px;
        font-size: 90%;
        margin: 10px 0 0 0;
        padding: 0px;
        line-height: 1.5em;
        overflow: hidden;
        border-bottom: 5px solid #7D1120;
        background: url("/src/images/divider.png") no-repeat 50% 0;
    }

    .entry p,
    .entry p em
    {
        color: #fff7c9;
        font-family: Helvetica, Arial, Geneva, sans-serif;
        font-size: 14px;
        line-height: 1.4em;
    }

    .entry p a
    {
        color: #2fc2c1;
        -webkit-transition: color 200ms linear;
        -moz-transition: color 200ms linear;
        -o-transition: color 200ms linear;
        outline: none;
    }

    .entry p a:hover
    {
        color: #bc4111;
    }

    .entry2 img,
    .entry2 a img
    {
        display: block;
        margin: 10px;
        padding: 5px;
        background: #040404;
    }

    .entry3 h2,
    .entry3 h2 a,
    .entry4 h2,
    .entry4 h2 a,
    .nasty5,.nasty5 a
    {
        text-align: center;
        margin-bottom: 15px;
        border-bottom: 5px solid #7D1120;
        font-weight: normal;
    }

    .entry h4,
    .entry h4 a
    {
        padding-top: 1em;
        text-align: center;
        color: #b50031;
        line-height: 1.05em;
        font: 26px;
        text-transform: lowercase;
        background: url("../images/divider.png") no-repeat 50% 0;
    }

    .entry4 p
    {
        font-size: 12px;
        padding: 10px;
        line-height: 148%;
        word-spacing: 2px;
    }

    .entry4 p img,
    .entry4 p img a
    {
        float: left;
        padding: 5px;
    }

    .entry h5,
    .entry h5 a
    {
        padding-top: 1.2em;
        text-align: center;
        color: #e9e9e9;
        line-height: 1.05em;
        font-family: 'RalewayThin',Helvetica, Arial, Geneva, sans-serif;
        font-weight:normal;
        text-transform: capitalize;
        clear: both;
        width: 100%;
    }

    .entry h3,
    .entry h6
    {
        padding-top: 1.2em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.75em;
        color: #b50031;
        -webkit-text-stroke-color: #FF0e24;
        -webkit-text-stroke-width: 1px;
        font-family: 'RalewayThin',Helvetica, Arial, Geneva, sans-serif;
        font-weight:normal;
        font-size: 30px;
        border: none;
        letter-spacing: 1px;
    }

    .entry h3 a,
    .entry h6 a
    {
        padding-top: 1.2em;
        text-align: center;
        font-family: 'RalewayThin',Helvetica, Arial, Geneva, sans-serif;
        font-weight:normal;
        font-size: 28px;
        text-transform: uppercase;
        color: #b50031;
        line-height: 1.05em;
        text-shadow: #fafafa 0 1px -3px;
        background: url("../images/divider.png") no-repeat 50% 0;
    }

    .entry a img,
    .entry a:hover img
    {
        float: left;
    }

    .entry img,
    .entry img a,
    .entry p a img 
    {
        float: left;
        text-align: center;
        margin: 10px;
        padding: 2px;
    }

    .events
    {
        float: left;
        clear: none;
        text-align: left;
        padding-right: 10px;
        padding-bottom: 10px;
        width: 651px;
        min-height: 170px;
        height: auto !important;
        height: 170px;
        color: #fafafa;
        position: relative;
        border: 1px #41443e solid;
    }

    .events2
    {
        float: left;
        clear: none;
        text-align: left;
        width: 270px;
        min-height: 500px;
        height: auto !important;
        height: 500px;
        color: #fff7c9;
        padding: 0;
    }

    .events h4,
    .entry4 h4 a,
    .entry4 h6 a
    {
        margin: 5px 0;
        padding: 3px;
        font-size: 20px;
        font-weight: normal;
        text-transform: lowercase;
        text-align: left;
        width: 100%;
        display: block;
        line-height: 1.2em;
        color: #ffe;
        text-shadow: #040404 -1px 1px -2px;
        border-bottom: 1px #41443e solid;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#132d40', EndColorStr='#000000');
        background: #000 -moz-radial-gradient( center, circle farthest-side, #132d40 0%, #000 100%) no-repeat;
        background: #000 -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#132d40), to(#000)) no-repeat;
    }

    .events h5
    {
        margin: 5px 0;
        padding: 3px;
        font-size: 20px;
        font-weight: normal;
        text-align: left;
        width: auto;
        line-height: 1.2em;
        color: #ffe;
        text-shadow: #040404 -1px 1px -2px;
        border-bottom: 1px #41443e solid;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#132d40', EndColorStr='#000000');
        background: #000 -moz-radial-gradient( center, circle farthest-side, #132d40 0%, #000 100%) no-repeat;
        background: #000 -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#132d40), to(#000)) no-repeat;
        text-transform: capitalize;
    }

    .events h5 a
    {
        margin: 5px 0;
        padding: 3px;
        font-size: 20px;
        text-align: right;
        width: auto;
        line-height: 1.2em;
        color: #ffe;
        text-transform: capitalize;
    }

    .events p
    {
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-align: right;
    }

    .events img,
    .events img a
    {
        float: left;
        margin: 10px;
    }

    .events ul
    {
        list-style: none;
        width: 250px;
        float: left;
    }

    .events ul li,
    .events ul li a
    {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-align: left;
    }

    .events ul li a:hover
    {
        text-decoration: underline;
    }

    .left-column h5 a,
    .right-column h5 a
    {
        margin: 5px 0 0 0;
        padding-top: 6px;
        font-size: 16px;
        text-align: left;
        line-height: 2em;
        width: 100%;
        background: url("../images/divider.png") no-repeat 100% 0;
        border-bottom: 1px #41443e solid;
    }

    .left-column img,
    .left-column img a,
    .right-column img,
    .right-column img a
    {
        float: left;
        margin: 10px;
    }

    .right-column
    {
        float: right;
        clear: none;
        width: 470px;
        text-align: right;
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 170px;
        height: auto !important;
        height: 170px;
        color: #fafafa;
        position: relative;
        border: 1px #41443e solid;
    }

    .right-column h5 a
    {
        margin: 5px 0 0 0;
        padding-top: 6px;
        font-size: 16px;
        text-align: left;
        line-height: 2em;
        width: 100%;
        background: url("../images/divider.png") no-repeat 100% 0;
    }

    .events_prensa
    {
        float: left;
        width: 700px;
        height: 170px;
        height: auto !important;
        min-height: 170px;
        margin: 10px auto 0 auto;
        padding: 1px 0px 0px 10px;
        line-height: 1.5em;
        border: 1px #41443e solid;
        overflow: hidden;
    }

    .events_prensa h5
    {
        margin: 5px 0;
        padding: 3px;
        width: 600px;
        font-size: 18px;
        font-weight: normal;
        text-transform: lowercase;
        line-height: 1.2em;
        color: #ffe;
        border-bottom: 1px #41443e solid;
    }

    .events_prensa h5 a
    {
        margin: 5px 0;
        padding: 3px;
        width: 600px;
        font-size: 18px;
        text-transform: lowercase;
        line-height: 1.2em;
        color: #ffe;
        text-shadow: #040404 -1px 1px -2px;
        border-bottom: 1px #41443e solid;
    }

    .events_pre
    {
        float: right;
        padding-left: 5px;
        width: 230px;
        min-height: 150px;
        height: auto !important;
        height: 100px;
        color: #fff7c9;
        position: relative;
    }

    .left-column
    {
        float: left;
        clear: none;
        width: 490px;
        margin-top: 5px;
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 170px;
        color: #fafafa;
        position: relative;
        border: 1px #41443e solid;
    }

    .left_prensa
    {
        float: right;
        clear: none;
        width: 250px !important;
        padding: 5px;
        margin: 0;
        min-height: 250px;
        height: auto !important;
        height: 250px;
        text-align: left;
        word-spacing: 0.5px;
        color: #ffc;
        text-shadow: -1px  1px 1px #040404;
        font-family: 'RalewayThin',Helvetica, Arial, Geneva, sans-serif;
        font-weight:normal;
        font-size: 14px;
    }

}
